.some1{ border: 6px solid black; background-color:#ccffff;}
.some2{border: 2px solid black; background-color:#ccffff;}
.some{border: 1px solid black; background-color:#ccffff;}
.done{background-color:#ccffff;}