.container{width:100px;}


.icon{height:50px;width:50px;}

.profile{margin-top:70px; margin-left:550px;}
h4{margin-left:10px;}
.head{background-color:#ccb3ff;}
link{text-decoration:none;}

.right{
	
margin-top:20px; margin-left:570px; width:300px;

}
.rightquote{
	
margin-top:20px; margin-left:540px; width:300px;

}
.bottom{margin-left:200;}

.headings{ background-color:#ccb3ff;}
.theory{width:60%; margin-left:250px;  font-size:20px; color:#1DB226}
.acad
{ margin-left:400px; margin-top:130px; margin-bottom: 30px; border-color:#81A4DE}
.acada
{ margin-left:550px; margin-top:100px; margin-bottom: 30px; border-color:#81A4DE}
a{text-decoration:none; }
a{color: #B2341D;}
